# Core Deep Learning
torch>=2.0.0
torchvision
torchaudio

# Data Science & Analysis
pandas
numpy
scikit-learn

# Visualization
matplotlib
seaborn

# Image Processing
Pillow

# Utilities
kaggle
ipykernel
tqdm